#dashboardheader {
    position: fixed;
    top: 0;      
    padding-top: 1%;
    left: 0;       
    width: 100%;    
    background-color: black;
    height: 7%;
    align-items: center;
}
#usernameheader {
    position: absolute;
    left: 15%;
    transform: translateY(50%); 
}
#circleheader {
    position: absolute;
    right: 20%;        
    top: 50%;              
    width: 3vw;           
    height: 3vw;            
    border-radius: 50%;
    background-color: blue;

    display: flex;          
    justify-content: center; 
    align-items: center;    
    font-size: 2vw;         
    color: white;           
    transform: translateY(-50%); 
}
#dashboardview {
    display: flex;
    flex-wrap: wrap;            
    justify-content: flex-start; 
    gap: 20px;     
    background-color: blue;             
}

#dashboardview > .child {
    flex: 0 0 calc(20% - 16px); 
    box-sizing: border-box;   
}
#createnewdoc {
    position: fixed;
    top: 12%;            
    right: 2%;        
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;      
}
#createnewdoc button {
    background-color: white;
    color: black;
}
#documentname {
    position: fixed;
    top: 12%;            
    left: 2%;        
}